.div1{
    text-align: center;
        
        border-color: rgb(150, 12, 127);
        background-color:lightblue;
        width: 60%;
        height: 80%;
        margin-left: 360px;
        padding: 10px;


}

.div2{
    
}

.d1{
    margin-left: 10px;
}
.d2{
    margin-left: 5px;
}
.d3{
    margin-left: 15px;
}
.d4{
    margin-right:60px;
}
.d11{
    margin-left: 50px;

}
.d22{
    margin-left: 70px;
}
.d44{
    margin-right: px;
}

.r1{
    margin-left: 400px;
    padding-right: 300px;
}
.u6{
    padding-right: 350px;
}
.x3{
    width: 80px;
}
.r3{
    width: 80px;
    margin-bottom: 10px;
}
.yy{
    text-align: center;
}
.k{
    text-align: center;
    margin-bottom: 10px;
    
}
.t{
    border-style: dotted;
    border-color: cornflowerblue;
    bor
}

.uu{
    margin-right: 70px;
}

